@media screen and (min-width: 1px) {
    article .subtitle {
        font-style: italic;
        font-size: 14px;
        position: relative;
    }
    a {
        color:#ffbf00 !important;
    }
    article .subtitle::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 100%;
        border-top: 1px solid white;
    }
    article .subtitle span {
        margin-left: 2em;
    }
    article .body {
        font-size: 18px;
        margin-top: 1.2em;
    }
    .separator {
        opacity: 0.5;
        width: 36px;
        margin: 0 auto;
    }
    article:nth-of-type(3) .body,
    article:nth-of-type(5) .body{
        width: 100%;
    } 
    .personnal-container .body {
        width: 90%;
    }
    .personnal-container {
        margin-bottom: 5em;
    } 
    .education-container .body .date span {
        position: relative;
        padding-left: 2em;
    }
    .education-container .body .date span::after {
        width: 15px;
        height: 19px;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 2em;
        background: url('../img/desc/calendar.svg') no-repeat;
    }
    .work-container .projects {
        margin-top: 2em;
    }
    .work-container .projects,
    .work-container .projects .project {
        position: relative;
    }
    .work-container .projects .project {
        width: 100%;
        height: 142px;
        display: flex;
        margin-bottom: 3em;
    }
    .work-container .projects .project .details-container {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    .work-container .projects .project .details-container .tech,
    .work-container .projects .project .details-container .name {
        padding: 0.4em;
        position: absolute;
        bottom: 0;
    }
    .work-container .projects .project a.left {
        padding-left: 0;
    }
    .work-container .projects .project a.right {
        padding-right: 0;
    }    
    .work-container .projects .project .details-container:nth-of-type(odd) {
        padding-left: 0;
    }
    .work-container .projects .project .details-container .name {
        height: 44px;
        display: table;
    }
    .work-container .projects .project .details-container .name p{
        display: table-cell;
        vertical-align: middle;
    }
    .work-container .projects .project .details-container .tech {
        top: 0;
        height: 60%;
        display: table;
    }
    .work-container .projects .project .details-container .tech,
    .work-container .projects .project .details-container .name {
        color: white;
        border: 1px solid #deb01e;
        font-weight: normal;
        background: #14202f;
        width: 100%;
    }
    .work-container .projects .project .details-container .name::after,
    .work-container .projects .project .details-container .tech::after {
        content: "";
        width: 102%;
        height: 100%;
        left: -8px;
        top: 8px;
        position: absolute;
        background: #020d1b;
        z-index: -1;
    }
    .work-container .projects .project .details-container .tech .table {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .work-container .projects .project .details-container .tech .table > * {
        width: 100%;
    }
    .work-container .projects .project img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .education-container .body .university {
        font-size: 21px;
    }
    .education-container .body .university a {
        color: white !important
    }
    .education-container .body .date {
        font-size: 13px;
        margin: 0.5em 0;
        display: flex
    }
    .education-container .body .title {
        font-size: 17px;
    }
    .education-container .body .date .icon {
        margin-right: 0.5em;
        width: 16px;
    }
    .education-container .body .course {
        margin-bottom: 1.5em;
        width: 80%;
    }
    .skills-container {
        margin-top: 1em;
    }
    .skills-container .skills {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 2em;
    }
    .skills-container .skills img {
        margin: 0.6em 0.7em;
        height: 40px;
        filter: drop-shadow(1px 1px 2px black);
    }
    main .contact {
        background-color: #ecf0f1;
        margin: 0;
        padding: 2.5em;
        text-align: center;
    }
    main .contact .title {
        color: #14202f;
        font-weight: bold;
        font-size: 28px;
        font-style: italic;
    }
    main .contact .body {
        width: 100%;
    }
    main .contact .body a {
        text-align: center;
        font-size: 21px;
        color: #1f2a39 !important;
        letter-spacing: 4px;
    }
    footer {
        background: #1b2736;
        height: 100px;
        display: table !important;
        width: 100%;
        position: relative;
    }
    footer .half-logo {
        width: 39px;
        height: 47px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .half-logo img {
        left: 0;
        width: 30px;
    }
    .skills-container .subtitle {
        color: #ffbf00; 
    } 
}
@media screen and (min-width: 768px) {
    .bg {
        background: radial-gradient(circle at center, #ffffff17 0, #14202f00 31vh);
    }
    .topbar-container {
        height: 95px;
    }
    .topbar-container .top-bar .logo {
        display: flex;
        padding: 0 2em;
        height: 100%;
        width: 100%;
    }
    article .title span,
    article.welcome .title div {
        font-size: 48px;
    }
    article.welcome .title div.sub {
        font-size: 23px;
        padding-top: 0.3em;
        margin: 0;
    }
    .welcome .social {
        margin-top: 9em;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 40%;
    }
    .welcome .social {
        margin-top: 7.7em;
    }
    .welcome .social img {
        width: 39px;
        margin-right: 0.8em;
    }
    .topbar-container .top-bar .logo img {
        object-fit: contain;
    }
    .topbar-container .top-bar .logo .menu-md {
        justify-content: space-between;
    }
    .topbar-container .top-bar .logo .menu-md > * {
        display: table-cell;
        vertical-align: middle;
        margin: auto 0;
        font-size: 17px;
        letter-spacing: 1px;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
    }
    .container-fluid article:nth-of-type(1) {
        padding-top: 19vh;
    }
    article.welcome .title {
        transform: translateY(19vw);
    }
    article .title span {
        font-size: 37px;
    }
    article .subtitle {
        font-size: 13px;
    }
    article .body {
        font-size: 17px;
    }
    article .body p {
        line-height: 1.7em;
    }
    .education-container .body .course {
        margin-bottom: 2em;
        width: unset;
    }
    .education-container .body .date {
        margin: 1em 0;
    }
    body .personnal-container img {
        margin: 1em 1em 0 0;
        width: 31px;
    }
    .skills-container .skills img {
        margin: 0.9em;
        height: 50px;
    }
    .education-container .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        height: 300px;
        margin-top: 2em;
    }
    main .contact .title {
        font-size: 30px;
    }
    article .contact .body {    
        margin-top: 1em;
    }
    main .contact .body a {
        font-size: 35px;
    }
    .work-container .projects {
        margin-top: 3em;
    }
    .work-container .projects .project {
        margin-bottom: 3em;
    }
    .work-container .projects .project .details-container .tech::after {
        top: 9px;
    }
    .work-container .projects .project .details-container .name::after {
        top: 10px;
    }
    .work-container .projects .project .details-container .name::after, 
    .work-container .projects .project .details-container .tech::after {
        left: -10px;
    }
    footer {
        height: 140px;
    }
    footer .half-logo {
        width: 50px;
    }
    article:not(:nth-of-type(1)) {
        margin: 4em 0 5em 0;
    }
}
@media screen and (min-width: 1024px) {
    article .subtitle {
        font-size: 14px;
    }
    footer {
        height: 120px;
    }
    .welcome {
        display: flex;
    }
    .topbar-container .top-bar .logo .menu-md > *:hover,
    .welcome .social img:hover {
        opacity: 1 !important;
    }
    .welcome .social img {
        width: 39px;
    }
    .topbar-container .top-bar .logo img {
        margin: auto 0 !important;
        height: 36px;
    }
    .topbar-container .top-bar .logo .menu-md > * {
        font-size: 19px;
    } 
    article .title span {
        font-size: 40px;
    }
    .education-container .body {
        width: 100%;
        height: 140px;
    }
    .skills-container .skills img {
        height: 57px;
    }
    main .contact .title {
        font-size:40px;
    }
    .work-container .projects .project .details-container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media screen and (min-width: 1280px) {
    .welcome-container {
        display: flex;
        height: 510px;
        margin: auto !important;
    }
    .work-container .projects .project a.right {
        margin-left: 4%;
    }
    .container-fluid article:nth-of-type(1) {
        padding-top: 0; 
    }
    .topbar-container .top-bar .logo .menu-md > * {
        font-size: 20px;
    }
    article .body p {
        line-height: 2em;
        font-size: 16px;
    }
    article:not(.contact) {
        height: initial;
    }
    .topbar-container .top-bar .logo {
        padding: 0
    }
    .desktop-pic {
        top: 50%;
        transform: translateY(-50%)
    } 
    article.welcome .pic {
        position: relative;
        padding: 15px;
        height: 450px;
    }
    article.welcome .title {
        text-align: center;
    }
    .skills-container .skills img {
        height: 60px;
    }
}
@media screen and (min-width: 1440px) { 
    .skills-container .skills img {
        margin: 1em;
    }
}
@media screen and (min-width: 1600px) { 
    .skills-container .skills img {
        height: 70px;
    }
}
@media screen and (min-width: 1920px) { 
    .topbar-container .top-bar .logo img {
        height: 49px;
    }
}